<%# app/views/institutions/edit.html.erb %>
<h1>Editando Institución</h1>

<%= render 'form', institution: @institution %>

<%= link_to 'Ver', @institution, class: 'button sec' %> |
<%= link_to 'Volver', institutions_path, class: 'button sec' %>
