
@import url('https://fonts.googleapis.com/css?family=Manrope:700|Manrope:400');

:root {
  --text: hsl(0, 0%, 99%);
  --textDim: hsl(0, 24%, 94%);
  --background: hsl(0, 0%, 7%);
  --primary: hsl(179, 100%, 65%);
  --primaryBg: hsla(155, 100%, 65%, 8%);
  --primaryHi: hsla(155, 100%, 75%, 25%);
  --primaryFg: hsl(179, 100%, 65%);
  --secondary: hsl(156, 51%, 14%);
  --secondaryFg: hsl(179, 100%, 65%);
  --secondaryBg: hsla(156, 51%, 14%, 5%);
  --secondaryHi: hsla(156, 51%, 30%, 50%);
  --accent: hsl(155, 100%, 94%);
  --accentBg: hsla(156, 39%, 50%, 0.268);
  --accentHi: hsla(155, 100%, 100%, 25%);
}

.card{
  border: none;
  border-radius: 30px;
background-color: #185754f5;}

.wow-bg {
  background: rgb(18,18,18);
background: linear-gradient(0deg, rgba(18,18,18,1) 13%, rgba(18,18,18,1) 29%, rgba(18,18,18,1) 38%, rgba(24,42,41,1) 51%, rgba(27,54,53,1) 58%, rgba(31,69,68,1) 64%, rgba(34,82,81,1) 70%, rgba(39,101,100,1) 76%, rgba(46,132,130,1) 87%, rgba(57,178,176,1) 99%, rgba(76,255,252,1) 99%);
  border: 1px solid #36c0a4;
  box-shadow: 3px 9px 16px rgba(16, 219, 208, 0.4),
    -3px -3px 10px rgba(255, 255, 255, 0.06),
    inset 14px 14px 26px rgba(15, 231, 241, 0.3),
    inset -3px -3px 15px rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  margin-top: 4px;
}

.sin-color {
  border-color: transparent;
  background-color: transparent;
}

.custom-hint .hint::after {
  color: #31888a6b; /* Cambia este color según tus preferencias */
}

.form-containerslo {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  align-items: baseline;
  justify-content: center; /* Esto distribuirá los elementos a lo largo del contenedor */
}

.form-sectionslo {
  width: 48%; /* Ajusta según el espacio deseado entre los formularios */
  box-sizing: border-box;
}

#signup-section,
#login-section {
  /* ... Estilos específicos para cada formulario ... */
}

/* ... Otros estilos ... */

/* application.scss */

/* ... Otros estilos ... */

body {
  display: flex;
  align-items: center; /* Centra verticalmente en la página */
  justify-content: center; /* Centra horizontalmente en la página */
  height: 100vh; /* Establece la altura del cuerpo como 100% de la ventana */
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
}

.form-container {
  display: flex;
  flex-direction: row; /* Apila los formularios verticalmente */
  align-items: center; /* Centra los formularios en el eje horizontal */
}

.form-section {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 400px; /* Ajusta según el ancho máximo deseado */
  margin-bottom: 20px; /* Ajusta según la separación deseada entre formularios */
  box-sizing: border-box;
}

#signup-section,
#login-section {
  /* ... Estilos específicos para cada formulario ... */
}

/* ... Otros estilos ... */
