  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
  <!-- Add any additional stylesheets or meta tags as needed -->
</head>
<body>
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">


  <div class="container-fluid position-relative d-flex p-0">
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
      <!-- Sidebar content remains unchanged -->
    </div>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">


      <!-- Sale & Revenue Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
          <div class="col-sm-6 col-xl-3">
            <!-- Today Sale -->
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
              <i class="fa fa-chart-line fa-3x text-primary"></i>
              <div class="ms-3">
                <p class="mb-2">Total Examenes</p>
                <h6 class="mb-0">34</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <!-- Total Sale -->
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
              <i class="fa fa-chart-bar fa-3x text-primary"></i>
              <div class="ms-3">
                <p class="mb-2">Total Materias</p>
                <h6 class="mb-0">12</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <!-- Today Revenue -->
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
              <i class="fa fa-chart-area fa-3x text-primary"></i>
              <div class="ms-3">
                <p class="mb-2">Examenes Pendientes</p>
                <h6 class="mb-0">23</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <!-- Total Revenue -->
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
              <i class="fa fa-chart-pie fa-3x text-primary"></i>
              <div class="ms-3">
                <p class="mb-2">Total Revenue</p>
                <h6 class="mb-0">$1234</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sale & Revenue End -->

      <!-- Sales Chart Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
          <div class="col-sm-12 col-xl-6">
            <!-- Worldwide Sales Chart -->
            <div class="bg-secondary text-center rounded p-4">
              <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Worldwide Sales</h6>
                <a href="#">Show All</a>
              </div>
              <canvas id="worldwide-sales"></canvas>
            </div>
          </div>
          <div class="col-sm-12 col-xl-6">
            <!-- Sales & Revenue Chart -->
            <div class="bg-secondary text-center rounded p-4">
              <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Sales & Revenue</h6>
                <a href="#">Show All</a>
              </div>
              <canvas id="sales-revenue"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- Sales Chart End -->

      <!-- Recent Sales Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Sales</h6>
            <a href="#">Show All</a>
          </div>
          <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
              <thead>
                <tr class="text-white">
                  <th scope="col"><input class="form-check-input" type="checkbox"></th>
                  <th scope="col">Date</th>
                  <th scope="col">Invoice</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Add your recent sales data here -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Recent Sales End -->

      <!-- Widgets Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
          <div class="col-sm-12 col-md-6 col-xl-4">
            <!-- Messages Widget -->
            <div class="h-100 bg-secondary rounded p-4">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <h6 class="mb-0">Messages</h6>
                <a href="#">Show All</a>
              </div>
              <!-- Add your messages data here -->
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-xl-4">
            <!-- Calendar Widget -->
            <div class="h-100 bg-secondary rounded p-4">
              <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Calendar</h6>
                <a href="#">Show All</a>
              </div>
              <div id="calendar"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-xl-4">
            <!-- To-Do List Widget -->
            <div class="h-100 bg-secondary rounded p-4">
              <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">To-Do List</h6>
                <a href="#">Show All</a>
              </div>
              <!-- Add your to-do list data here -->
            </div>
          </div>
        </div>
      </div>
      <!-- Widgets End -->

      <!-- Footer Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded-top p-4">
          <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
              &copy; <%= Time.now.year %> <%= link_to "Your Site Name", "#" %>, All Right Reserved.
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
              <!-- Your footer content goes here -->
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End -->

      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!-- Additional JavaScript includes go here -->
    </div>
    <!-- Content End -->
  </div>
  <!-- Bootstrap JavaScript and dependencies are assumed to be included separately -->
</body>
</html>
