<%= form_with model: [@student, @studentsubject] do |f| %>
<div class="form-inputs">
    
    <%= f.label :Materia %>
    <%= f.select :subject_id, options_for_select(@subjects.map {|subject| [subject.name, subject.id]}) %>
  

 <div class="form-actions">
    <button>  <%= f.submit "Asignar Materia" %> </button>
    </div>
<% end %>