
nav.navbar-transparente {
	padding: 2px 0px;
	background: rgba(29, 29, 29, 0.123);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #4CFFFC;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}
